# Ignore private files
*private/**
*archived/*private/**
teachers.json
*/*private*

# Ignore random web files
web/**

# Ignore config file (for API keys)
*config.py
*__pycache__
*.code-workspace
credentials*

# Ignore Jupyter Notebooks
JupyterNotebooks/**

# Ignore Mac stuff
.DS_Store