# Ignore private files
*private/**
teachers.json

# Ignore config file (for API keys)
*config.py
*credentials.json
*__pycache__
*.code-workspace

# Ignore Jupyter Notebooks
JupyterNotebooks/**

# Ignore Mac stuff
.DS_Store